@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.learning_objective {
  width: 50%;
  margin-left: 50px;
  padding-top: 50px;
}

.text-lg {
  color: white;
}
.text_first {
  color: white;
  padding: 20px;
}

::marker {
  color: yellow;
}

.btn_start {
  background-color: #dbd9d9;
  padding: 10px;
  margin-left: 5px;
  margin-top: 10px;
  color: white;
  border-radius: 4px;
  width: 96px;
  font-size: 20px;
}
